<!--<div class="d-flex m-5 p-3 ">-->
<!--  <div >-->
<!--    <button class=" btn btn-dark btn-sm " (click)="changeCounter(step)" >+1</button>-->
<!--  </div>-->
<!--  <div class="ms-3 me-3">-->
<!--    <small >{{ counter }}</small>-->
<!--  </div>-->
<!--  <div class="">-->
<!--    <button class="btn btn-primary btn-sm" (click)="changeCounter(-step)">-1</button>-->
<!--  </div>-->
<!--</div>-->

<!--ng g c heroes-->
<div class="container ms-3  me-3">
  <div class="row">
    <div class="col">
      <app-list></app-list>
    </div>
    <div class="col">
      <app-add></app-add>
    </div>
  </div>
</div>

